aiofiles
aiohttp
aiosignal
altair
anyio
attrs
blinker
boto3
botocore
cachelib
catalogue
certifi
cffi
charset-normalizer
click
cryptography
cycler
decorator
distro
dnspython
et-xmlfile
fastapi
filelock
Flask
Flask-Session
frozenlist
gunicorn
h11
httpx
idna
itsdangerous
Jinja2
joblib
jsonschema
kiwisolver
langcodes
Markdown
MarkupSafe
matplotlib
multidict
networkx
numpy==1.23.5
oci
openai
openpyxl
packaging
pandas
parso
platformdirs
prompt-toolkit
psutil
pydantic
pydub
Pygments
PyMedTermino
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
requests
scikit-learn
scipy
six
sniffio
spacy==3.5.2
starlette
thinc==8.1.10
tqdm
transformers
typer
types-python-dateutil
types-requests
typing_extensions
tzdata
ujson
urllib3
uvicorn
wasabi
Werkzeug
xlrd
yarl